.button {
  background-color: var(--back-bg);
  border-radius: 8px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s;
}

.msg-button {
  background-color: var(--back-bg);
  border-radius: 8px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s;
}

.button:hover,
.msg-button:hover {
  background-color: #9900ff;
  color: gray;
  transform: scale(1.1);
}

@media (width < 400px) {
  .button {
    padding: 10px 25px;
  }

  .button:hover {
    background-color: var(--back-bg);
    transform: none;
  }

  .button span:hover {
    background-color: var(--back-bg);
    transform: none;
    color: #fff;
  }
}
