.front-new,
.back-new {
  width: 80%;
  font-size: 2rem;
  min-height: 165px;
  padding: 1rem;
  overflow: auto;
}

.front-new {
  background-color: #f2f2f2;
  border-radius: 10px;
  border: 2px solid #3498db;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  color: #333;
  text-align: center;
}

.back-new {
  background-color: rgb(64, 143, 255);
  border-radius: 10px;
  border: 2px solid #3498db;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  color: rgb(255, 255, 255);
  text-align: center;
}

label {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

@media (width < 400px) {
  .back-new,
  .front-new {
    font-size: 1.5rem;
    min-height: 120px;
  }
}
