.front-new,
.back-new {
  width: 80%;
  font-size: 2rem;
  min-height: 165px;
  padding: 1rem;
  overflow: auto;
}

.front-new {
  background-color: var(--front-bg);
  border-radius: 10px;
  border: 2px solid var(--front-border);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  color: var(--primary-txt);
  text-align: center;
}

.back-new {
  background-color: var(--back-bg);
  border-radius: 10px;
  border: 2px solid var(--back-border);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  color: var(--secondary-txt);
  text-align: center;
}

label {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--secondary-txt);
}

@media (width < 400px) {
  .back-new,
  .front-new {
    font-size: 1.5rem;
    min-height: 120px;
  }
}
