.container-items {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0 1rem;
  word-wrap: break-word;
}

.container-loading {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.loading {
  animation: spin 1s linear infinite;
  border-radius: 50%;
  border-top: 4px solid #007bff;
  border: 4px solid rgba(0, 0, 0, 0.3);
  display: block;
  height: 80px;
  width: 80px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.front {
  background-color: #f2f2f2;
  border-radius: 10px;
  border: 2px solid #3498db;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  color: #333;
  max-width: 1000px;
  text-align: center;
}

.back {
  align-items: center;
  background-color: rgb(64, 143, 255);
  border-radius: 10px;
  border: 2px solid #f2f2f2;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  max-width: 1000px;
  text-align: center;
  width: 100%;
}

.front,
.back {
  backface-visibility: hidden;
  padding: 1.8rem;
  position: relative;
  width: 100%;
}

.front .material-symbols-outlined,
.back .material-symbols-outlined {
  font-size: 20px;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 0;
}
