.container-items {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 1rem;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  word-wrap: break-word;
}

.container-items:active {
  transform: rotateY(180deg);
}

.container-items .front,
.container-items .back {
  backface-visibility: hidden;
  padding: 1rem;
  width: 100%;
}

.container-items .front {
  background-color: #f2f2f2;
  border-radius: 10px;
  border: 2px solid #3498db;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  color: #333;
  max-width: 1000px;
  text-align: center;
}

.container-items .back {
  align-items: center;
  background-color: rgb(64, 143, 255);
  border-radius: 10px;
  border: 2px solid #3498db;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  max-width: 1000px;
  text-align: center;
  width: 100%;
}

@media (max-width: 400px) {
  .container-items .back {
    font-size: 12px;
  }
}

.container-loading {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.loading {
  animation: spin 1s linear infinite;
  border-radius: 50%;
  border-top: 4px solid #007bff;
  border: 4px solid rgba(0, 0, 0, 0.3);
  display: block;
  height: 80px;
  width: 80px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
