.front > .inner-text,
.back > .inner-text {
  font-size: 24px;
  /* margin-top: 1.8rem; */
  max-height: inherit;
  text-align: center;
  width: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #dbfedc;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #22c722;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
